{% extends 'base.html' %}
{% block static_files %}
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}
{% block page_name %}微信登陆{% endblock %}
{% block body_part7 %}
<a href="{{ url_for('QRlogin') }}" class="nav-link active">
{% endblock %}

{% block body_part1 %}
<span class="icon iconfont icon-weixin"></span>
    &ensp;把成绩发送到我的微信 @-@ 
{% endblock %}
{% block body_part2 %}
    <div style="width: 200px;margin: 0 auto">
        <h1 style="text-align: center">微信登录</h1>
        <img id="img" style="height: 200px;width: 200px;" src="https://login.weixin.qq.com/qrcode/{{qcode}}" alt="">
    </div>

    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script>
        $(function () {
            checkLogin();
        })

        function checkLogin() {
            $.ajax({
                url:'/check_login',
                type:'GET',
                dataType:'JSON',
                success:function (arg) {
                    if(arg.code === 201){
                        // 扫码
                        $('#img').attr('src',arg.src);
                        checkLogin();
                    }else if(arg.code === 200){
                        // 重定向到用户列表
                        location.href = '/index'
                    }else{
                        checkLogin();
                    }

                }
            })
        }

    </script>

{% endblock %}