{% extends 'base.html' %} {% block page_name %}课程表{% endblock %} {% block body_part5 %}
<a href="{{ url_for('timetable') }}" class="nav-link active">
    {% endblock %} {% block body_part1 %}
    <span class="glyphicon glyphicon-calendar"></span>&ensp;要认真听课哦 ⊙0⊙ {% endblock %} {% block body_part2 %}
    <form method="POST">
        学年：
        <select name=year class="form-control selectpicker" style="width: 13%; height: 35px; font-size: 16px; margin-top:-32px; margin-left:50px;">
           
            {% if year == '2017' %}
            <option selected="selected" value="2017">2017-2018</option>
            {% else %}
            <option value="2017">2017-2018</option>
            {% endif %}

            {% if year == '2018' %}
            <option selected="selected" value="2018">2018-2019</option>
            {% else %}
            <option value="2018">2018-2019</option>
            {% endif %}

            {% if year == '2019' %}
            <option selected="selected" value="2019">2019-2020</option>
            {% else %}
            <option value="2019">2019-2020</option>
            {% endif %}
        
        </select>
        </span>
        <span>
            <p style="margin-top:-28px; margin-left:253px;">学期:</p>
            <select name=term class="form-control selectpicker" style="width: 10%; height: 35px; font-size: 16px; margin-top:-50px; margin-left:302px;">

                {% if term == '1' %}
                <option selected="selected" value="1">1</option>
                {% else %}
                <option value="1">1</option>
                {% endif %}
                
                {% if term == '2' %}
                <option selected="selected" value="2">2</option>
                {% else %}
                <option value="2">2</option>
                {% endif %}
            </select>
            <span>
                <button type="submit" class="btn btn-success" style="margin-top:-60px; margin-left:465px;width: 8%;height: 45px;">
                    <span class="glyphicon glyphicon-search"></span>&ensp;查询
                </button>
            </span>
    </form>
    <table class="table table-bordered table-hover table-condensed">
        <tr class="info">
            {% if year != '--' and term != '--' %}
            <td align=center colspan="16">{{year}}学年第{{term}}学期学生个人课表</td>
            {% endif %}
        </tr>
        <tr>
            <td colspan="2" rowspan="1" style="width:2%;">时间</td>
            <td align="center" style="width:14%;">星期一</td>
            <td align="center" style="width:14%;">星期二</td>
            <td align="center" style="width:14%;">星期三</td>
            <td align="center" style="width:14%;">星期四</td>
            <td align="center" style="width:14%;">星期五</td>
            <td align="center" class="noprint" style="width:14%;">星期六</td>
            <td align="center" class="noprint" style="width:14%;">星期日</td>
        </tr>
{% if time_table == None %}
<tr class="danger">
    <td colspan="11" align=center>
        <span class="glyphicon glyphicon-remove"></span>&ensp;并没有查到该学期的课程表
    </td>
</tr>
{% else %}
        <tr>
            <td rowspan="4" style="width:1%;">上午</td>
            <td style="width:1%;">第1节</td>
            {% for day in week %}
                {% if time_table[day][0] %}
                    {% for s in time_table[day][0] %}
                        {% if s == 0 %}

                        {% else %}
                            <td align="center" rowspan={{s.length}} style="width:7%;">
                                {{s.class_name}} <br> {{s.day}} <br> {{s.time}} <br> {{s.week}} <br> {{s.teacher}} <br> {{s.classroom}}
                            </td>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <td align="center" class="noprint"> </td>
                {% endif %}
            {% endfor %}
        </tr>
        <tr>
            <td>第2节</td>
            {% for day in week %}
                {% if time_table[day][1] %}
                    {% for s in time_table[day][1] %}
                        {% if s == 0 %}

                        {% else %}
                            <td align="center" rowspan={{s.length}} style="width:7%;">
                                {{s.class_name}} <br> {{s.day}} <br> {{s.time}} <br> {{s.week}} <br> {{s.teacher}} <br> {{s.classroom}}
                            </td>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <td align="center" class="noprint"> </td>
                {% endif %}
            {% endfor %}
        </tr>
        <tr>
            <td>第3节</td>
            {% for day in week %}
                {% if time_table[day][2] %}
                    {% for s in time_table[day][2] %}
                        {% if s == 0 %}

                        {% else %}
                            <td align="center" rowspan={{s.length}} style="width:7%;">
                                {{s.class_name}} <br> {{s.day}} <br> {{s.time}} <br> {{s.week}} <br> {{s.teacher}} <br> {{s.classroom}}
                            </td>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <td align="center" class="noprint"> </td>
                {% endif %}
            {% endfor %}
        </tr>
        <tr>
            <td>第4节</td>
            {% for day in week %}
                {% if time_table[day][3] %}
                    {% for s in time_table[day][3] %}
                        {% if s == 0 %}

                        {% else %}
                            <td align="center" rowspan={{s.length}} style="width:7%;">
                                {{s.class_name}} <br> {{s.day}} <br> {{s.time}} <br> {{s.week}} <br> {{s.teacher}} <br> {{s.classroom}}
                            </td>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <td align="center" class="noprint"> </td>
                {% endif %}
            {% endfor %}
        </tr>
        <tr>
            <td rowspan="4" style="width:1%;">下午</td>
            <td>第5节</td>
            {% for day in week %}
                {% if time_table[day][4] %}
                    {% for s in time_table[day][4] %}
                        {% if s == 0 %}

                        {% else %}
                            <td align="center" rowspan={{s.length}} style="width:7%;">
                                {{s.class_name}} <br> {{s.day}} <br> {{s.time}} <br> {{s.week}} <br> {{s.teacher}} <br> {{s.classroom}}
                            </td>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <td align="center" class="noprint"> </td>
                {% endif %}
            {% endfor %}
        </tr>
        <tr>
            <td>第6节</td>
            {% for day in week %}
                {% if time_table[day][5] %}
                    {% for s in time_table[day][5] %}
                        {% if s == 0 %}

                        {% else %}
                            <td align="center" rowspan={{s.length}} style="width:7%;">
                                {{s.class_name}} <br> {{s.day}} <br> {{s.time}} <br> {{s.week}} <br> {{s.teacher}} <br> {{s.classroom}}
                            </td>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <td align="center" class="noprint"> </td>
                {% endif %}
            {% endfor %}
        </tr>
        <tr>
            <td>第7节</td>
            {% for day in week %}
                {% if time_table[day][6] %}
                    {% for s in time_table[day][6] %}
                        {% if s == 0 %}

                        {% else %}
                            <td align="center" rowspan={{s.length}} style="width:7%;">
                                {{s.class_name}} <br> {{s.day}} <br> {{s.time}} <br> {{s.week}} <br> {{s.teacher}} <br> {{s.classroom}}
                            </td>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <td align="center" class="noprint"> </td>
                {% endif %}
            {% endfor %}
        </tr>
        <tr>
            <td>第8节</td>
            {% for day in week %}
                {% if time_table[day][7] %}
                    {% for s in time_table[day][7] %}
                        {% if s == 0 %}

                        {% else %}
                            <td align="center" rowspan={{s.length}} style="width:7%;">
                                {{s.class_name}} <br> {{s.day}} <br> {{s.time}} <br> {{s.week}} <br> {{s.teacher}} <br> {{s.classroom}}
                            </td>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <td align="center" class="noprint"> </td>
                {% endif %}
            {% endfor %}
        </tr>
        <tr>
            <td rowspan="3" style="width:1%;">晚上</td>
            <td>第9节</td>
            {% for day in week %}
                {% if time_table[day][8] %}
                    {% for s in time_table[day][8] %}
                        {% if s == 0 %}

                        {% else %}
                            <td align="center" rowspan={{s.length}} style="width:7%;">
                                {{s.class_name}} <br> {{s.day}} <br> {{s.time}} <br> {{s.week}} <br> {{s.teacher}} <br> {{s.classroom}}
                            </td>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <td align="center" class="noprint"> </td>
                {% endif %}
            {% endfor %}
        </tr>
        <tr>
            <td>第10节</td>
            {% for day in week %}
                {% if time_table[day][9] %}
                    {% for s in time_table[day][9] %}
                        {% if s == 0 %}

                        {% else %}
                            <td align="center" rowspan={{s.length}} style="width:7%;">
                                {{s.class_name}} <br> {{s.day}} <br> {{s.time}} <br> {{s.week}} <br> {{s.teacher}} <br> {{s.classroom}}
                            </td>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <td align="center" class="noprint"> </td>
                {% endif %}
            {% endfor %}
        </tr>
        <tr>
            <td>第11节</td>
            {% for day in week %}
                {% if time_table[day][10] %}
                    {% for s in time_table[day][10] %}
                        {% if s == 0 %}

                        {% else %}
                            <td align="center" rowspan={{s.length}} style="width:7%;">
                                {{s.class_name}} <br> {{s.day}} <br> {{s.time}} <br> {{s.week}} <br> {{s.teacher}} <br> {{s.classroom}}
                            </td>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <td align="center" class="noprint"> </td>
                {% endif %}
            {% endfor %}
        </tr>
{% endif %}
    </table>
    {% endblock %}